.heading-container {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
  }

.heading-container p {
    display: inline-block;
    margin: 0 10px 15px 0; 
  }

  .heading-container p:not(:first-child) {
    margin-left: auto;
  }

  .underline-heading {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .icon-row {
    display: flex;
    justify-content: space-evenly;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
